header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: var(--headHeight);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem .5rem .6rem;
  background: linear-gradient(var(--blue-light), var(--blue) 90%);
  font-family: var(--subheading);
  box-shadow: 0 0 .15rem var(--blue-dark);
  z-index: 1;
}

header a, header li{
  text-decoration: none;
  color: var(--yellow);
  text-shadow: -.1rem .1rem .2rem var(--yellow-dark);
  font-weight: 600;
  transition: 200ms;
}

#phone-link {
  font-size: 1.6rem;
}

#nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  flex-wrap: nowrap;
  font-size: 1.2rem;
}

#nav ul li {
  transition: 200ms;
}

#phone-link:hover, 
#nav ul li:hover {
  transform: scale(110%);
}

#logo {
  height: 100%;
  width: auto;
  aspect-ratio: 5/2;
  border-radius: 100%;
  border: 1px solid var(--yellow);
  box-shadow: -.1rem .1rem .3rem var(--blue-dark);
}

#mobile-menu-icon:not(.hidden) {
  height: 80%;
  width: auto;
  border-radius: 2px;
  box-shadow: 0 0 .3rem var(--blue-dark);
  cursor: pointer;
}

#mobile-nav:not(.hidden) {
  width: 100vw;
  height: 100vh;
  position:fixed;
  top: 0;
  right: 0;
  background: var(--yellow-dark-trans);
}

#mobile-nav:not(.hidden) ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  font-size: 1.4rem;
}

#mobile-nav:not(.hidden) ul li {
  text-align: end;
  padding: .5rem 1rem .5rem 1rem;
  cursor: pointer;
}

#mobile-nav:not(.hidden) ul li:not(:first-of-type) {
  border-bottom: 1px solid var(--white);
}

#mobile-nav:not(.hidden) ul li:active {
  background: var(--yellow-light);
} 