#pricing {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  gap: 2rem;
}

#pricing h2 {
  font-family: var(--sourGummy);
  font-size: 2.9rem;
  color: var(--white);
  text-shadow: .1rem .1rem .3rem var(--blue-dark);
  text-align: center;
  width: 100%;
  background: var(--blue-trans);
  border-radius: 1rem 1rem 0 0 ;
  padding: .75rem;
  box-shadow: 0 0 .5rem var(--blue-dark);
}

#pricing .package-container {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 0 .5rem var(--blue-dark);
  padding: .8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

#pricing .package-container#package-1, 
#pricing .package-container#package-2, 
#pricing .package-container#monthly-package {
  min-width: 300px;
  flex: 1 1 30%;
}

#pricing .package-container:not(#add-on-services) {
  background: var(--blue);
  border: .3rem solid var(--yellow);
}

#pricing .package-container#add-on-services {
  width: 100%;
  background: var(--blue-light);
}

#pricing .package-container:not(#monthly-package) .package-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#pricing .package-container#monthly-package .package-header-container {
  align-self: start;
  text-align: left;
  width: 68%;
}

#pricing .package-container .package-header-container h3 {
  color: var(--pink);
  font-family: var(--sourGummy);
  font-size: 2.2rem;
  text-shadow: -.1rem 0.1rem .1rem var(--blue-dark);
  line-height: 1;
  margin-bottom: .25rem;
}

#pricing .package-container:not(#monthly-package) .package-header-container h3 {
  text-align: center;
}

#pricing .package-container .package-header-container h4 {
  font-family: var(--paragraph);
  font-weight: 600;
  font-size: 1rem;
  margin: 0 0 .75rem;
  opacity: .65;
}

#pricing .package-container h4::before {
  content: "( ";
  font-size: .9rem;
}

#pricing .package-container h4::after {
  content: " )";
  font-size: .9rem;
}

#pricing .package-container .reg-price-txt {
  font-size: 1rem;
  font-style: italic;
  text-decoration: line-through;
}

#pricing .package-container .offer-price-amount {
  font-weight: bold;
  font-size: 1.2rem;
}

#pricing .package-container .package-description {
  background: var(--blue-light);
  padding: .8rem;
  border-radius: .5rem;
  font-size: 1rem;
}

#pricing .package-container#monthly-package .package-description {
  width: 90%;
  align-self: flex-start;
}

#pricing .package-container .package-description p:not(:last-of-type) {
  margin-bottom: .75rem;
}

#pricing .package-container .package-description p:has(strong) {
  text-align: center;
  text-wrap: balance;

}

#pricing .package-container .package-description span {
  display: block;
  text-align: center;
  align-self: center;
}

#pricing .item-list-header {
  text-align: left;
  align-self: start;
  font-size: 1.1rem;
  margin-bottom: .5rem;
}

#pricing ul.included-items-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  text-align: left;
}

#pricing ul.included-items-list li {
  flex: 1 1 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: .25rem .25rem 0 .25rem;
  margin-left: .5rem;
}

#pricing ul.included-items-list li:not(:last-of-type) {
  border-bottom: .1rem solid var(--blue-dark-trans);
}

#pricing ul.included-items-list li.prev-package-list-item {
  opacity: .65;
}

#pricing .disclaimer {
  font-size: .8rem;
  text-align: center;
}

#pricing .special {
  position: absolute;
  top: -12.75rem;
  right: -12.75rem;
  width: 20rem;
  height: 20rem;
  background: var(--pink);
  transform-origin: center center;
  transform: rotate(45deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding-bottom: .25rem;
}

#pricing .special ul {
  list-style: none;
  color: white;
  font-weight: bold;
  text-shadow: 0 0 .2rem black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: .8rem;
}

#pricing #add-on-services .included-items-list span {
  font-style: italic;
}

#pricing #intro-pricing-disclaimer {
  background: var(--white);
  width: 100%;
  font-weight: bold;
  font-size: .8rem;
  font-style: italic;
  border-radius: .25rem;
  padding: .25rem;
}